<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="logs" />
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss" />

    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-5p %d{ISO8601} [%t][%X{SOA_CALL_ID}][%X{context-id}] %c '%m'%n
            </pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="Console-Appender" />
        <appender-ref ref="logMonitor" />
    </root>

    <logger name="org.apache" additivity="true" level="WARN" />
    <logger name="org.apache.kafka" additivity="true" level="INFO" />

</configuration>
